body{
  background-color: #fafafa;
}

*{
  font-family: sans-serif;
}

.card{
  background-color: white;
  border: 1px solid #dbdbdb;
  margin:20px;
  padding:10px;
  border-radius: 4px;
  display: inline-block;
  width: 300px;
}

a{
  display: block;
}